flows.json
[
    {
        "id": "b689760f8cbc2ccd",
        "type": "tab",
        "label": "Dori room special",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7bed2fe84d7aa78",
        "type": "tab",
        "label": "Misc small flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f93d98e293b81e36",
        "type": "junction",
        "z": "a7bed2fe84d7aa78",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "2826408677e6ac1c"
            ]
        ]
    },
    {
        "id": "2826408677e6ac1c",
        "type": "junction",
        "z": "a7bed2fe84d7aa78",
        "x": 520,
        "y": 700,
        "wires": [
            [
                "8355ba94a8dc78df"
            ]
        ]
    },
    {
        "id": "520c9422e32a2caf",
        "type": "serial-port",
        "serialport": "/dev/serial/by-id/usb-FoxDen_CC1101Duino_1101-if00-port0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "^",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "855a07ea.d0a178",
        "type": "server",
        "name": "Home Assistant",
        "version": 4,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m"
    },
    {
        "id": "99ce1c6505aedccf",
        "type": "inject",
        "z": "b689760f8cbc2ccd",
        "name": "Minute trigger",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "295636384bd834d8",
                "eeda18ec71b14762"
            ]
        ]
    },
    {
        "id": "295636384bd834d8",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "13e9c8321d0262fa",
                "6ad7a99fcf211f73"
            ]
        ]
    },
    {
        "id": "13e9c8321d0262fa",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "0a88c3182947653d",
                "e48d14ba14caf617"
            ]
        ]
    },
    {
        "id": "0a88c3182947653d",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "893fa06716a2dc3b"
            ]
        ]
    },
    {
        "id": "eeda18ec71b14762",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "CO2",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "1700",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.office_co2",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": "02P",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "5fdb3c5d3d1d78dd"
            ],
            []
        ]
    },
    {
        "id": "6ad7a99fcf211f73",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "1.0um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.office_particulate_matter_1_0um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": " 1u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "e48d14ba14caf617",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "2.5um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.office_particulate_matter_2_5um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": " 2u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "893fa06716a2dc3b",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "10um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.office_particulate_matter_10_0um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": "10u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "5fdb3c5d3d1d78dd",
        "type": "change",
        "z": "b689760f8cbc2ccd",
        "name": "set red",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "[68,0,0]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "b439118176f9f9fe"
            ]
        ]
    },
    {
        "id": "0c2c9d1dfcf70a43",
        "type": "comment",
        "z": "b689760f8cbc2ccd",
        "name": "Dori Nixie Clock",
        "info": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec0d210e48540e1a",
        "type": "change",
        "z": "b689760f8cbc2ccd",
        "name": "set yellow",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "[68,34,0]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b439118176f9f9fe"
            ]
        ]
    },
    {
        "id": "b439118176f9f9fe",
        "type": "api-call-service",
        "z": "b689760f8cbc2ccd",
        "name": "Send to Nixie",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "esphome",
        "service": "custom_clock_nixie_office_notify",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"color\": color,\t   \"dots\": \"\",\t   \"text\": $pad($string(state), -4, ' ') & '  ' & desc,\t   \"duration\": 3000,\t   \"animations\": true\t}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "efb57a864a77f113",
        "type": "switch",
        "z": "b689760f8cbc2ccd",
        "name": "Split moving or not",
        "property": "data.new_state.attributes.direction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "749196dc1071446b"
            ],
            []
        ]
    },
    {
        "id": "a4f6594ab89e2dbc",
        "type": "comment",
        "z": "b689760f8cbc2ccd",
        "name": "Dori Desk",
        "info": "",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "749196dc1071446b",
        "type": "api-call-service",
        "z": "b689760f8cbc2ccd",
        "name": "Send to Nixie",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "esphome",
        "service": "custom_clock_nixie_office_notify",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"color\": [255,0,255],\t   \"dots\": \"100\",\t   \"text\": $pad($string(payload), -5, ' ') & '0  m',\t   \"duration\": 1000,\t   \"animations\": false\t}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd2c0d470468d26",
        "type": "server-state-changed",
        "z": "b689760f8cbc2ccd",
        "name": "Desk height",
        "server": "855a07ea.d0a178",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.office_desk_current_height",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "milliseconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 460,
        "wires": [
            [
                "efb57a864a77f113"
            ],
            []
        ]
    },
    {
        "id": "65c2658aa3b20b32",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Dori PC low power",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "1383277869fb3dc65d04345fa0816f14",
        "event": {
            "type": "power",
            "platform": "device",
            "device_id": "1383277869fb3dc65d04345fa0816f14",
            "entity_id": "sensor.dori_pc_power",
            "domain": "sensor",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 70
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 30,
                "unit": "minutes"
            }
        ],
        "outputProperties": [],
        "x": 170,
        "y": 120,
        "wires": [
            [
                "c42a3063b035f55a",
                "b06ae4538cd1f0b7"
            ]
        ]
    },
    {
        "id": "4d2d86d92baeae3a",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Simon PC low power",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "d8f10783fd5383c71f1232f171c393e7",
        "event": {
            "type": "power",
            "platform": "device",
            "device_id": "d8f10783fd5383c71f1232f171c393e7",
            "entity_id": "sensor.simon_pc_power",
            "domain": "sensor",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 50
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 30,
                "unit": "minutes"
            }
        ],
        "outputProperties": [],
        "x": 160,
        "y": 260,
        "wires": [
            [
                "70539c414a38c86e",
                "e4bfd7d5fa54b89c"
            ]
        ]
    },
    {
        "id": "c42a3063b035f55a",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Dori PC",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 1,
        "deviceType": "action",
        "device": "1383277869fb3dc65d04345fa0816f14",
        "event": {
            "type": "turn_off",
            "device_id": "1383277869fb3dc65d04345fa0816f14",
            "entity_id": "switch.dori_pc_relay",
            "domain": "switch"
        },
        "capabilities": [],
        "outputProperties": [],
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "70539c414a38c86e",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Simon PC",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 1,
        "deviceType": "action",
        "device": "d8f10783fd5383c71f1232f171c393e7",
        "event": {
            "type": "turn_off",
            "device_id": "d8f10783fd5383c71f1232f171c393e7",
            "entity_id": "switch.simon_pc_relay",
            "domain": "switch"
        },
        "capabilities": [],
        "outputProperties": [],
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b06ae4538cd1f0b7",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Office lights",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e4bfd7d5fa54b89c",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Corner lights",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.corner"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "13ac0bdf1218eacd",
        "type": "link in",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101",
        "links": [
            "ccf15fbe4a6faf12"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "16e40ff17b786c65"
            ]
        ]
    },
    {
        "id": "bf394a6cae264fd7",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 control",
        "info": "",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "576f9df55033c5d1",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Auto-power-off",
        "info": "",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "5eb073e951765b10",
        "type": "ha-get-entities",
        "z": "a7bed2fe84d7aa78",
        "name": "Get unavailable entities",
        "server": "855a07ea.d0a178",
        "version": 0,
        "rules": [
            {
                "property": "state",
                "logic": "is",
                "value": "unavailable",
                "valueType": "str"
            }
        ],
        "output_type": "array",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 990,
        "y": 180,
        "wires": [
            [
                "b94c4daf1e5d6a50"
            ]
        ]
    },
    {
        "id": "91880383edd3415a",
        "type": "inject",
        "z": "a7bed2fe84d7aa78",
        "name": "5 Minute trigger",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 990,
        "y": 120,
        "wires": [
            [
                "5eb073e951765b10"
            ]
        ]
    },
    {
        "id": "9dcbb61b4a14697e",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Ping nodes",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "zwave_js",
        "service": "ping",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b94c4daf1e5d6a50",
        "type": "split",
        "z": "a7bed2fe84d7aa78",
        "name": "Split entities apart",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "86b3f759d4097a48"
            ]
        ]
    },
    {
        "id": "a165d4cad3bfc27e",
        "type": "change",
        "z": "a7bed2fe84d7aa78",
        "name": "Move payload to data.entity_id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"data\": {\t        \"entity_id\": payload.entity_id\t    }\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 360,
        "wires": [
            [
                "9dcbb61b4a14697e"
            ]
        ]
    },
    {
        "id": "f5031c08bc486c74",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Ping unavailable (Z-Wave) entities every 5 minutes",
        "info": "",
        "x": 990,
        "y": 60,
        "wires": []
    },
    {
        "id": "86b3f759d4097a48",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Strip out lights",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^light.",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 300,
        "wires": [
            [],
            [
                "a165d4cad3bfc27e"
            ]
        ]
    },
    {
        "id": "7ddec40756041310",
        "type": "serial in",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 in",
        "serial": "520c9422e32a2caf",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "eb9d47cab8f907ae"
            ]
        ]
    },
    {
        "id": "bb1c7c57cf03d3cb",
        "type": "serial out",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 out",
        "serial": "520c9422e32a2caf",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "cdc8a0912ef29822",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch coder/subtype/id",
        "property": "sensorSwitch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lacrosse_temperature_56",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lacrosse_humidity_56",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "7641b4a91907c96a"
            ],
            [
                "1d2c2b675ffcc80c"
            ],
            [
                "8355ba94a8dc78df"
            ]
        ]
    },
    {
        "id": "7641b4a91907c96a",
        "type": "ha-entity",
        "z": "a7bed2fe84d7aa78",
        "name": "Fridge temperature",
        "server": "855a07ea.d0a178",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Fridge temperature"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1d2c2b675ffcc80c",
        "type": "ha-entity",
        "z": "a7bed2fe84d7aa78",
        "name": "Fridge humidity",
        "server": "855a07ea.d0a178",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Fridge humidity"
            },
            {
                "property": "device_class",
                "value": "humidity"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 880,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9d47cab8f907ae",
        "type": "cc1101duino-decoder",
        "z": "a7bed2fe84d7aa78",
        "name": "",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "49208a0c26524124"
            ],
            [
                "2826408677e6ac1c"
            ]
        ]
    },
    {
        "id": "b0611c488c545468",
        "type": "template",
        "z": "a7bed2fe84d7aa78",
        "name": "Set sensorSwitch",
        "field": "sensorSwitch",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.coder}}_{{payload.subtype}}_{{payload.id}}",
        "output": "str",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "cdc8a0912ef29822"
            ]
        ]
    },
    {
        "id": "16e40ff17b786c65",
        "type": "cc1101duino-encoder",
        "z": "a7bed2fe84d7aa78",
        "name": "",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "bb1c7c57cf03d3cb"
            ]
        ]
    },
    {
        "id": "49208a0c26524124",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "b0611c488c545468"
            ],
            [
                "f93d98e293b81e36"
            ]
        ]
    },
    {
        "id": "8355ba94a8dc78df",
        "type": "debug",
        "z": "a7bed2fe84d7aa78",
        "name": "Show unhanlded signals",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "635d57f74d91c14e",
        "type": "function",
        "z": "a7bed2fe84d7aa78",
        "name": "Calculate AQI",
        "func": "const re = /^sensor\\.(.+)_(particulate_matter_.*_concentration|co2)$/;\n\nconst breakpoints = {};\nbreakpoints.aqi = [\n    {\n        lo: 0,\n        hi: 50,\n    },\n    {\n        lo: 51,\n        hi: 100,\n    },\n    {\n        lo: 101,\n        hi: 150,\n    },\n    {\n        lo: 151,\n        hi: 200,\n    },\n    {\n        lo: 201,\n        hi: 300,\n    },\n    {\n        lo: 301,\n        hi: 400,\n    },\n    {\n        lo: 401,\n        hi: 500,\n    },\n]\nbreakpoints.particulate_matter_2_5um_concentration = [\n    {\n        lo: 0.0,\n        hi: 12.0,\n    },\n    {\n        lo: 12.1,\n        hi: 35.4,\n    },\n    {\n        lo: 35.5,\n        hi: 55.4,\n    },\n    {\n        lo: 55.5,\n        hi: 150.4,\n    },\n    {\n        lo: 150.5,\n        hi: 250.4,\n    },\n    {\n        lo: 250.5,\n        hi: 350.4,\n    },\n    {\n        lo: 350.5,\n        hi: 500.4,\n    },\n];\nbreakpoints.particulate_matter_10_0um_concentration = [\n    {\n        lo: 0.0,\n        hi: 54.0,\n    },\n    {\n        lo: 55.0,\n        hi: 154.0,\n    },\n    {\n        lo: 155.0,\n        hi: 254.0,\n    },\n    {\n        lo: 255.0,\n        hi: 354.0,\n    },\n    {\n        lo: 355.0,\n        hi: 424.0,\n    },\n    {\n        lo: 425.0,\n        hi: 504.0,\n    },\n    {\n        lo: 505.0,\n        hi: 604.0,\n    },\n];\n\nconst aqiValues = {};\n\nfor (const ent of msg.payload) {\n    const m = ent.entity_id.match(re);\n    if (!m) {\n        continue;\n    }\n    const sensorName = m[1];\n    const sensorType = m[2];\n\n    const val = parseFloat(ent.state);\n    \n    const valBreakpointsAll = breakpoints[sensorType];\n    if (!valBreakpointsAll) {\n        continue;\n    }\n\n    let i = valBreakpointsAll.length - 1;\n    for (; i >= 0; i--) {\n        if (val >= valBreakpointsAll[i].lo) {\n            break;\n        }\n    }\n\n    const valBreakpoints = valBreakpointsAll[i];\n    const aqiBreakpoints = breakpoints.aqi[i];\n\n    const bpRatio = (aqiBreakpoints.hi - aqiBreakpoints.lo) / (valBreakpoints.hi - valBreakpoints.lo);\n    const aqi = Math.round((bpRatio * (val - valBreakpoints.lo)) + aqiBreakpoints.lo);\n\n    const cur = aqiValues[sensorName];\n    if (cur && cur.aqi > aqi) {\n        continue;\n    }\n\n    aqiValues[sensorName] = {\n        aqi,\n        sensorName,\n        sensorType,\n    };\n}\nmsg.payload = aqiValues;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 900,
        "wires": [
            [
                "5df8a322f7028685"
            ]
        ]
    },
    {
        "id": "82a073564e3aac66",
        "type": "ha-get-entities",
        "z": "a7bed2fe84d7aa78",
        "name": "Get AQI relevant",
        "server": "855a07ea.d0a178",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.",
                "valueType": "str"
            },
            {
                "property": "attributes.unit_of_measurement",
                "logic": "includes",
                "value": "µg/m³,ppm",
                "valueType": "str"
            }
        ],
        "output_type": "array",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 260,
        "y": 820,
        "wires": [
            [
                "635d57f74d91c14e"
            ]
        ]
    },
    {
        "id": "35553a54d9cd4018",
        "type": "inject",
        "z": "a7bed2fe84d7aa78",
        "name": "Cron",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "82a073564e3aac66"
            ]
        ]
    },
    {
        "id": "794e0cc2794248b4",
        "type": "ha-entity",
        "z": "a7bed2fe84d7aa78",
        "name": "Office AQI",
        "server": "855a07ea.d0a178",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Office AQI"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "aqi"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 670,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0287e15098f66094",
        "type": "ha-entity",
        "z": "a7bed2fe84d7aa78",
        "name": "Bedroom AQI",
        "server": "855a07ea.d0a178",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Bedroom AQI"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "aqi"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 680,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1e3dd0b721b114",
        "type": "ha-entity",
        "z": "a7bed2fe84d7aa78",
        "name": "Living room AQI",
        "server": "855a07ea.d0a178",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "Living room AQI"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "aqi"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "",
        "outputPayloadType": "str",
        "x": 680,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "0db01b1d7b73ee53",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch",
        "property": "payload.sensorName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "office",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "living_room",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 900,
        "wires": [
            [
                "794e0cc2794248b4"
            ],
            [
                "0287e15098f66094"
            ],
            [
                "5f1e3dd0b721b114"
            ]
        ]
    },
    {
        "id": "5df8a322f7028685",
        "type": "split",
        "z": "a7bed2fe84d7aa78",
        "name": "Split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "0db01b1d7b73ee53"
            ]
        ]
    },
    {
        "id": "60b870129f0d399e",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Calculate AQI",
        "info": "",
        "x": 390,
        "y": 760,
        "wires": []
    }
]