flows.json
[
    {
        "id": "b689760f8cbc2ccd",
        "type": "tab",
        "label": "Dori room special",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7bed2fe84d7aa78",
        "type": "tab",
        "label": "Misc small flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a53edd6419cf925b",
        "type": "tab",
        "label": "Bambu X1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb94bf0469e27a01",
        "type": "tab",
        "label": "Door/Window Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f93d98e293b81e36",
        "type": "junction",
        "z": "a7bed2fe84d7aa78",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "2826408677e6ac1c"
            ]
        ]
    },
    {
        "id": "2826408677e6ac1c",
        "type": "junction",
        "z": "a7bed2fe84d7aa78",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "8355ba94a8dc78df"
            ]
        ]
    },
    {
        "id": "0545db8219987d92",
        "type": "junction",
        "z": "a53edd6419cf925b",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "e79be807708ff94e",
                "9f8825bfe35d0491",
                "058de403c9c507f0",
                "98e37f64446b861b",
                "85e2841a8d0f7ce9",
                "548dbed9334436d5"
            ]
        ]
    },
    {
        "id": "520c9422e32a2caf",
        "type": "serial-port",
        "serialport": "/dev/serial/by-id/usb-FoxDen_CC1101Duino_1101-if00-port0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "^",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "855a07ea.d0a178",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "7641b4a91907c96a",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "sensor config for Fridge temperature",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Fridge temperature"
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "1d2c2b675ffcc80c",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "sensor config for Fridge humidity",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Fridge humidity"
            },
            {
                "property": "device_class",
                "value": "humidity"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "794e0cc2794248b4",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "sensor config for Dori Office AQI",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Dori Office AQI"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "aqi"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "0287e15098f66094",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "sensor config for Bedroom AQI",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bedroom AQI"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "aqi"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "5f1e3dd0b721b114",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "sensor config for Living room AQI",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Living room AQI"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "aqi"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "60409f974cd5a619",
        "type": "mqtt-broker",
        "name": "Bambu X1",
        "broker": "bambu-x1.foxden.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "device/00M00A280102436/request",
        "birthQos": "0",
        "birthPayload": "{\"pushing\": {\"sequence_id\": \"0\",\"command\": \"pushall\"}}",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27e6a9b3bbae9c7e",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 stage",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 stage"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c19819a7716b9af4",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Wizzy Office AQI",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Wizzy Office AQI"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "aqi"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "ef5e1961536b2f76",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Den AQI",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Den AQI"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "aqi"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2cc9d2a08df3c267",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 bed temperature",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 bed temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "97a234ae0ec48b36",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 bed target temperature",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 bed target temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": "measurement"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b5631a916eb39e67",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 nozzle temperature",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 nozzle temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "fdbaee93fea15004",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 nozzle target temperature",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 nozzle target temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9bce5769ad2d5bed",
        "type": "ha-entity-config",
        "server": "855a07ea.d0a178",
        "deviceConfig": "",
        "name": "Bambu X1 enclosure temperature",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Bambu X1 enclosure temperature"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "temperature"
            },
            {
                "property": "unit_of_measurement",
                "value": "°C"
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "99ce1c6505aedccf",
        "type": "inject",
        "z": "b689760f8cbc2ccd",
        "name": "Minute trigger",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "295636384bd834d8",
                "eeda18ec71b14762"
            ]
        ]
    },
    {
        "id": "295636384bd834d8",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "13e9c8321d0262fa",
                "6ad7a99fcf211f73"
            ]
        ]
    },
    {
        "id": "13e9c8321d0262fa",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "0a88c3182947653d",
                "e48d14ba14caf617"
            ]
        ]
    },
    {
        "id": "0a88c3182947653d",
        "type": "delay",
        "z": "b689760f8cbc2ccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "893fa06716a2dc3b"
            ]
        ]
    },
    {
        "id": "eeda18ec71b14762",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "CO2",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "1700",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.dori_office_co2",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": "02P",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "5fdb3c5d3d1d78dd"
            ],
            []
        ]
    },
    {
        "id": "6ad7a99fcf211f73",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "1.0um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.dori_office_particulate_matter_1_0um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": " 1u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "e48d14ba14caf617",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "2.5um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.dori_office_particulate_matter_2_5um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": " 2u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "893fa06716a2dc3b",
        "type": "api-current-state",
        "z": "b689760f8cbc2ccd",
        "name": "10um",
        "server": "855a07ea.d0a178",
        "version": 3,
        "outputs": 2,
        "halt_if": "5",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.dori_office_particulate_matter_10_0um_concentration",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "desc",
                "propertyType": "msg",
                "value": "10u",
                "valueType": "str"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "ec0d210e48540e1a"
            ],
            []
        ]
    },
    {
        "id": "5fdb3c5d3d1d78dd",
        "type": "change",
        "z": "b689760f8cbc2ccd",
        "name": "set red",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "[68,0,0]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "b439118176f9f9fe"
            ]
        ]
    },
    {
        "id": "0c2c9d1dfcf70a43",
        "type": "comment",
        "z": "b689760f8cbc2ccd",
        "name": "Dori Nixie Clock",
        "info": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec0d210e48540e1a",
        "type": "change",
        "z": "b689760f8cbc2ccd",
        "name": "set yellow",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "[68,34,0]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b439118176f9f9fe"
            ]
        ]
    },
    {
        "id": "b439118176f9f9fe",
        "type": "api-call-service",
        "z": "b689760f8cbc2ccd",
        "name": "Send to Nixie",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "esphome",
        "service": "custom_clock_nixie_dori_notify",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t   \"color\": color,\t   \"dots\": \"\",\t   \"text\": $pad($string(state), -4, ' ') & '  ' & desc,\t   \"duration\": 3000,\t   \"animations\": true\t}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "65c2658aa3b20b32",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Dori PC low power",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "1383277869fb3dc65d04345fa0816f14",
        "event": {
            "type": "power",
            "platform": "device",
            "device_id": "1383277869fb3dc65d04345fa0816f14",
            "entity_id": "sensor.dori_pc_power",
            "domain": "sensor",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 70
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 30,
                "unit": "minutes"
            }
        ],
        "outputProperties": [],
        "x": 150,
        "y": 120,
        "wires": [
            [
                "c42a3063b035f55a"
            ]
        ]
    },
    {
        "id": "4d2d86d92baeae3a",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Wizzy PC low power",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "d8f10783fd5383c71f1232f171c393e7",
        "event": {
            "type": "power",
            "platform": "device",
            "device_id": "d8f10783fd5383c71f1232f171c393e7",
            "entity_id": "sensor.wizzy_pc_power",
            "domain": "sensor",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 30
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 30,
                "unit": "minutes"
            }
        ],
        "outputProperties": [],
        "x": 150,
        "y": 180,
        "wires": [
            [
                "70539c414a38c86e"
            ]
        ]
    },
    {
        "id": "c42a3063b035f55a",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Dori PC",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 1,
        "deviceType": "action",
        "device": "1383277869fb3dc65d04345fa0816f14",
        "event": {
            "type": "turn_off",
            "device_id": "1383277869fb3dc65d04345fa0816f14",
            "entity_id": "switch.dori_pc_relay",
            "domain": "switch"
        },
        "capabilities": [],
        "outputProperties": [],
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "70539c414a38c86e",
        "type": "ha-device",
        "z": "a7bed2fe84d7aa78",
        "name": "Turn off Wizzy PC",
        "server": "855a07ea.d0a178",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 1,
        "deviceType": "action",
        "device": "d8f10783fd5383c71f1232f171c393e7",
        "event": {
            "type": "turn_off",
            "device_id": "d8f10783fd5383c71f1232f171c393e7",
            "entity_id": "switch.wizzy_pc_relay",
            "domain": "switch",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [],
        "outputProperties": [],
        "x": 350,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "13ac0bdf1218eacd",
        "type": "link in",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101",
        "links": [
            "ccf15fbe4a6faf12"
        ],
        "x": 75,
        "y": 440,
        "wires": [
            [
                "16e40ff17b786c65"
            ]
        ]
    },
    {
        "id": "bf394a6cae264fd7",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 control",
        "info": "",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "576f9df55033c5d1",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Auto-power-off",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "7ddec40756041310",
        "type": "serial in",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 in",
        "serial": "520c9422e32a2caf",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "eb9d47cab8f907ae"
            ]
        ]
    },
    {
        "id": "bb1c7c57cf03d3cb",
        "type": "serial out",
        "z": "a7bed2fe84d7aa78",
        "name": "CC1101 out",
        "serial": "520c9422e32a2caf",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "cdc8a0912ef29822",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch coder/subtype/id",
        "property": "sensorSwitch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lacrosse_temperature_31",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lacrosse_humidity_31",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "4e2cf910d7bf2a0f"
            ],
            [
                "262d7a538669dbd2"
            ],
            [
                "8355ba94a8dc78df"
            ]
        ]
    },
    {
        "id": "eb9d47cab8f907ae",
        "type": "cc1101duino-decoder",
        "z": "a7bed2fe84d7aa78",
        "name": "",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "49208a0c26524124"
            ],
            [
                "2826408677e6ac1c"
            ]
        ]
    },
    {
        "id": "b0611c488c545468",
        "type": "template",
        "z": "a7bed2fe84d7aa78",
        "name": "Set sensorSwitch",
        "field": "sensorSwitch",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.coder}}_{{payload.subtype}}_{{payload.id}}",
        "output": "str",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "cdc8a0912ef29822"
            ]
        ]
    },
    {
        "id": "16e40ff17b786c65",
        "type": "cc1101duino-encoder",
        "z": "a7bed2fe84d7aa78",
        "name": "",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "bb1c7c57cf03d3cb"
            ]
        ]
    },
    {
        "id": "49208a0c26524124",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "b0611c488c545468"
            ],
            [
                "f93d98e293b81e36"
            ]
        ]
    },
    {
        "id": "8355ba94a8dc78df",
        "type": "debug",
        "z": "a7bed2fe84d7aa78",
        "name": "Show unhanlded signals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "635d57f74d91c14e",
        "type": "function",
        "z": "a7bed2fe84d7aa78",
        "name": "Calculate AQI",
        "func": "const re = /^sensor\\.(.+)_(particulate_matter_.*_concentration|co2)$/;\n\nconst breakpoints = {};\nbreakpoints.aqi = [\n    {\n        lo: 0,\n        hi: 50,\n    },\n    {\n        lo: 51,\n        hi: 100,\n    },\n    {\n        lo: 101,\n        hi: 150,\n    },\n    {\n        lo: 151,\n        hi: 200,\n    },\n    {\n        lo: 201,\n        hi: 300,\n    },\n    {\n        lo: 301,\n        hi: 400,\n    },\n    {\n        lo: 401,\n        hi: 500,\n    },\n]\nbreakpoints.particulate_matter_2_5um_concentration = [\n    {\n        lo: 0.0,\n        hi: 12.0,\n    },\n    {\n        lo: 12.1,\n        hi: 35.4,\n    },\n    {\n        lo: 35.5,\n        hi: 55.4,\n    },\n    {\n        lo: 55.5,\n        hi: 150.4,\n    },\n    {\n        lo: 150.5,\n        hi: 250.4,\n    },\n    {\n        lo: 250.5,\n        hi: 350.4,\n    },\n    {\n        lo: 350.5,\n        hi: 500.4,\n    },\n];\nbreakpoints.particulate_matter_10_0um_concentration = [\n    {\n        lo: 0.0,\n        hi: 54.0,\n    },\n    {\n        lo: 55.0,\n        hi: 154.0,\n    },\n    {\n        lo: 155.0,\n        hi: 254.0,\n    },\n    {\n        lo: 255.0,\n        hi: 354.0,\n    },\n    {\n        lo: 355.0,\n        hi: 424.0,\n    },\n    {\n        lo: 425.0,\n        hi: 504.0,\n    },\n    {\n        lo: 505.0,\n        hi: 604.0,\n    },\n];\n\nconst aqiValues = {};\n\nfor (const ent of msg.payload) {\n    const m = ent.entity_id.match(re);\n    if (!m) {\n        continue;\n    }\n    const sensorName = m[1];\n    const sensorType = m[2];\n\n    const val = parseFloat(ent.state) - 1.0;\n\n    if (isNaN(val)) {\n        continue;\n    }\n\n    const valBreakpointsAll = breakpoints[sensorType];\n    if (!valBreakpointsAll) {\n        continue;\n    }\n\n    let i = valBreakpointsAll.length - 1;\n    for (; i >= 0; i--) {\n        if (val >= valBreakpointsAll[i].lo) {\n            break;\n        }\n    }\n\n    const valBreakpoints = valBreakpointsAll[i];\n    const aqiBreakpoints = breakpoints.aqi[i];\n\n    const bpRatio = (aqiBreakpoints.hi - aqiBreakpoints.lo) / (valBreakpoints.hi - valBreakpoints.lo);\n    const aqi = Math.round((bpRatio * (val - valBreakpoints.lo)) + aqiBreakpoints.lo);\n\n    const cur = aqiValues[sensorName];\n    if (cur && cur.aqi > aqi) {\n        continue;\n    }\n\n    aqiValues[sensorName] = {\n        aqi,\n        sensorName,\n        sensorType,\n    };\n}\nmsg.payload = aqiValues;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 880,
        "wires": [
            [
                "5df8a322f7028685"
            ]
        ]
    },
    {
        "id": "82a073564e3aac66",
        "type": "ha-get-entities",
        "z": "a7bed2fe84d7aa78",
        "name": "Get AQI relevant",
        "server": "855a07ea.d0a178",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.",
                "valueType": "str"
            },
            {
                "property": "attributes.unit_of_measurement",
                "logic": "includes",
                "value": "µg/m³,ppm",
                "valueType": "str"
            }
        ],
        "output_type": "array",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "635d57f74d91c14e"
            ]
        ]
    },
    {
        "id": "35553a54d9cd4018",
        "type": "inject",
        "z": "a7bed2fe84d7aa78",
        "name": "Cron",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "82a073564e3aac66"
            ]
        ]
    },
    {
        "id": "0db01b1d7b73ee53",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "Switch",
        "property": "payload.sensorName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dori_office",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "living_room",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wizzy_office",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "den",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 880,
        "wires": [
            [
                "1f76e6c59c8338d3"
            ],
            [
                "ec3bd7f6c909a9ed"
            ],
            [
                "224d410083e539f4"
            ],
            [
                "deada6aedc0afa7e"
            ],
            [
                "da635b248cf0596a"
            ]
        ]
    },
    {
        "id": "5df8a322f7028685",
        "type": "split",
        "z": "a7bed2fe84d7aa78",
        "name": "Split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 880,
        "wires": [
            [
                "0db01b1d7b73ee53"
            ]
        ]
    },
    {
        "id": "60b870129f0d399e",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Calculate AQI",
        "info": "",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "4e2cf910d7bf2a0f",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Fridge temperature",
        "entityConfig": "7641b4a91907c96a",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "262d7a538669dbd2",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Fridge humidity",
        "entityConfig": "1d2c2b675ffcc80c",
        "version": 0,
        "state": "payload.value",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 880,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1f76e6c59c8338d3",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Dori Office AQI",
        "entityConfig": "794e0cc2794248b4",
        "version": 0,
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 680,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "ec3bd7f6c909a9ed",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Bedroom AQI",
        "entityConfig": "0287e15098f66094",
        "version": 0,
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 680,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "224d410083e539f4",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Living room AQI",
        "entityConfig": "5f1e3dd0b721b114",
        "version": 0,
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 680,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "deada6aedc0afa7e",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Wizzy office AQI",
        "entityConfig": "c19819a7716b9af4",
        "version": 0,
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 680,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "da635b248cf0596a",
        "type": "ha-sensor",
        "z": "a7bed2fe84d7aa78",
        "name": "Den AQI",
        "entityConfig": "ef5e1961536b2f76",
        "version": 0,
        "state": "payload.aqi",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 660,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "197267f67efe6167",
        "type": "server-state-changed",
        "z": "a7bed2fe84d7aa78",
        "name": "Wizzy Room Light Read",
        "server": "855a07ea.d0a178",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.wizzy_office",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "milliseconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "6e99e179202ff709"
            ]
        ]
    },
    {
        "id": "2ee13913398d6704",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Nanoleaf sync",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [
            "fbbd4a18b4b0933bac36df6d9c258815"
        ],
        "entityId": [],
        "data": "{\t    \"brightness\": data.new_state.attributes.brightness\t}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 940,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a2bea54823936d9e",
        "type": "server-state-changed",
        "z": "a7bed2fe84d7aa78",
        "name": "Dori Room Light Read",
        "server": "855a07ea.d0a178",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.dori_office",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "milliseconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "752e7246d78efac5"
            ]
        ]
    },
    {
        "id": "3e4606c543305e16",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Nanoleaf sync",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [
            "94cb1c74cfdfaae7611819d7cb0f4d8f"
        ],
        "entityId": [],
        "data": "{\t    \"brightness\": data.new_state.attributes.brightness\t}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 940,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "09780a8eaff3ecd7",
        "type": "comment",
        "z": "a7bed2fe84d7aa78",
        "name": "Nanoleaf brightness sync",
        "info": "",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "c938f468c57cfef1",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Nanoleaf sync",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "fbbd4a18b4b0933bac36df6d9c258815"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "068a445697c5808d",
        "type": "api-call-service",
        "z": "a7bed2fe84d7aa78",
        "name": "Nanoleaf sync",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "94cb1c74cfdfaae7611819d7cb0f4d8f"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 940,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6e99e179202ff709",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "2ee13913398d6704"
            ],
            [
                "c938f468c57cfef1"
            ]
        ]
    },
    {
        "id": "752e7246d78efac5",
        "type": "switch",
        "z": "a7bed2fe84d7aa78",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "3e4606c543305e16"
            ],
            [
                "068a445697c5808d"
            ]
        ]
    },
    {
        "id": "8bbc06ba4f763df5",
        "type": "mqtt in",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 report",
        "topic": "device/00M00A280102436/report",
        "qos": "2",
        "datatype": "json",
        "broker": "60409f974cd5a619",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "01d6827915f07e49",
                "3702019e179eaaac"
            ]
        ]
    },
    {
        "id": "01d6827915f07e49",
        "type": "function",
        "z": "a53edd6419cf925b",
        "name": "Map stg_cur and filter",
        "func": "if (!msg.payload.print) {\n    return;\n}\n\nconst stage_names = [\n    \"Idle\", // -1\n    \"Printing\", // 0\n    \"Auto bed leveling\",\n    \"Heatbed preheating\",\n    \"Sweeping XY mech mode\",\n    \"Changing filament\",\n    \"M400 pause\",\n    \"Paused due to filament runout\",\n    \"Heating hotend\",\n    \"Calibrating extrusion\",\n    \"Scanning bed surface\",\n    \"Inspecting first layer\",\n    \"Identifying build plate type\",\n    \"Calibrating Micro Lidar\",\n    \"Homing toolhead\",\n    \"Cleaning nozzle tip\",\n    \"Checking extruder temperature\",\n    \"Printing was paused by the user\",\n    \"Pause of front cover falling\",\n    \"Calibrating the micro lida\",\n    \"Calibrating extrusion flow\",\n    \"Paused due to nozzle temperature malfunction\",\n    \"Paused due to heat bed temperature malfunction\",\n];\n\nconst stage_cur = msg.payload.print.stg_cur;\n\nif (stage_cur === undefined || !isFinite(stage_cur)) {\n    msg.reset = true;\n    return msg;\n}\n\nmsg.payload.stage_name = stage_names[stage_cur + 1] || \"unknown\";\n\nif (stage_cur >= 0 ||\n    msg.payload.print.nozzle_temper >= 80 ||\n    msg.payload.print.bed_temper >= 40) {\n    msg.reset = true;\n} else {\n    delete msg.reset;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "6c2d38245803f51b",
                "0545db8219987d92"
            ]
        ]
    },
    {
        "id": "9f8825bfe35d0491",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 Stage",
        "entityConfig": "27e6a9b3bbae9c7e",
        "version": 0,
        "state": "payload.stage_name",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2d38245803f51b",
        "type": "trigger",
        "z": "a53edd6419cf925b",
        "name": "Idle 30min?",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 810,
        "y": 60,
        "wires": [
            [
                "fb951deb469bc3b4"
            ]
        ]
    },
    {
        "id": "fb951deb469bc3b4",
        "type": "ha-device",
        "z": "a53edd6419cf925b",
        "name": "Turn off",
        "server": "855a07ea.d0a178",
        "version": 0,
        "debugenabled": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 1,
        "deviceType": "action",
        "device": "43130b67504c4acc558137b527001959",
        "event": {
            "type": "turn_off",
            "device_id": "43130b67504c4acc558137b527001959",
            "entity_id": "switch.bambu_x1_relay",
            "domain": "switch",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [],
        "outputProperties": [],
        "x": 970,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "058de403c9c507f0",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 bed temperature",
        "entityConfig": "2cc9d2a08df3c267",
        "version": 0,
        "state": "payload.print.bed_temper",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 860,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e79be807708ff94e",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 bed target temperature",
        "entityConfig": "97a234ae0ec48b36",
        "version": 0,
        "state": "payload.print.bed_target_temper",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 880,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "98e37f64446b861b",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 nozzle temperature",
        "entityConfig": "b5631a916eb39e67",
        "version": 0,
        "state": "payload.print.nozzle_temper",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "85e2841a8d0f7ce9",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 nozzle target temperature",
        "entityConfig": "fdbaee93fea15004",
        "version": 0,
        "state": "payload.print.nozzle_target_temper",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 890,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "548dbed9334436d5",
        "type": "ha-sensor",
        "z": "a53edd6419cf925b",
        "name": "Bambu X1 enclosure temperature",
        "entityConfig": "9bce5769ad2d5bed",
        "version": 0,
        "state": "payload.print.chamber_temper",
        "stateType": "msg",
        "attributes": [],
        "inputOverride": "block",
        "outputProperties": [],
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3702019e179eaaac",
        "type": "trigger",
        "z": "a53edd6419cf925b",
        "name": "5 min no updates",
        "op1": "",
        "op2": "{\"print\":{\"bed_target_temper\":\"unavailable\",\"bed_temper\":\"unavailable\",\"nozzle_temper\":\"unavailable\",\"nozzle_target_temper\":\"unavailable\",\"chamber_temper\":\"unavailable\"},\"stage_name\":\"unavailable\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "0545db8219987d92"
            ]
        ]
    },
    {
        "id": "a6d09c849c7ea582",
        "type": "status",
        "z": "a53edd6419cf925b",
        "name": "MQTT status",
        "scope": [
            "8bbc06ba4f763df5"
        ],
        "x": 130,
        "y": 320,
        "wires": [
            [
                "5b1255d9535f5b72"
            ]
        ]
    },
    {
        "id": "266c43cb393271ce",
        "type": "change",
        "z": "a53edd6419cf925b",
        "name": "Delay 1",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "3702019e179eaaac"
            ]
        ]
    },
    {
        "id": "5b1255d9535f5b72",
        "type": "switch",
        "z": "a53edd6419cf925b",
        "name": "Filter not connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "266c43cb393271ce"
            ]
        ]
    },
    {
        "id": "07a75f3759c420bc",
        "type": "server-state-changed",
        "z": "eb94bf0469e27a01",
        "name": "Closet sensor read",
        "server": "855a07ea.d0a178",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.corridor_upper_closet_iaszone",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "milliseconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 60,
        "wires": [
            [
                "c18a28a34441eb37"
            ]
        ]
    },
    {
        "id": "bb8ff90bfc046062",
        "type": "api-call-service",
        "z": "eb94bf0469e27a01",
        "name": "Light ON",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [
            "c35d8ec95b387438a368a93ed7fd4a7f"
        ],
        "entityId": [],
        "data": "{\t    \"transition\": 0,\t    \"kelvin\": 4500,\t    \"brightness_pct\": 100\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f68ec679bc420014",
        "type": "api-call-service",
        "z": "eb94bf0469e27a01",
        "name": "Light OFF",
        "server": "855a07ea.d0a178",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "c35d8ec95b387438a368a93ed7fd4a7f"
        ],
        "entityId": [],
        "data": "{\t    \"transition\": 0\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "last",
        "x": 520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c18a28a34441eb37",
        "type": "switch",
        "z": "eb94bf0469e27a01",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "bb8ff90bfc046062"
            ],
            [
                "f68ec679bc420014"
            ]
        ]
    }
]